/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: Ordo;
  src: url('order_o.ttf');
}

@font-face {
  font-family: Ordl;
  src: url('order_l.ttf');
}

@font-face {
  font-family: Ordr;
  src: url('order_r.ttf');
}

.logo {
  min-width: 800px;
  font-size: 100px;
  font-family: Ordo;
  font-weight: bolder;
}

.navbar-text {
  min-width: 200px;
  font-size: 30px;
  font-family: Ordl;
}

.rating-stars {
  display: inline-block;
  margin-left: 8px;
}

.field {
  font-family: Ordl;
  margin-left: 20px;
  font-size: 25px;
}

.butt {
  font-family: Ordo;
  margin-left: 20px;
  font-size: 25px;
}

.formhead {
  font-family: Ordo;
  font-weight: bold;
  font-size: 50px;
  margin-left: 20px;
}

.profname {
  font-family: Ordo;
  font-size: 50px;
  font-weight: bolder;
}

.profattr {
  font-family: Ordr;
  font-size: 20px;
  margin-left: 20px;
}

.profrev {
  font-family: Ordo;
  font-size: 20px;
}

.userrev,
.about {
  margin-left: 40px;
}

.prof {
  display: inline-block;
  list-style: none;
}

.bg {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  max-width: 100%;
  margin-top: -20px;
}

.pic {
  padding-top: 20px;
}

.edel {
  margin-left: 20px;
  font-family: Ordl;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.edit {
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
}

.numrev {
  font-family: Ordr;
  font-size: 20px;
}

.rstname {
  margin-left: 12px;
  font-family: Ordo;
  font-size: 50px;
  font-weight: bolder;
}

.profile {
  background: rgba(200, 200, 200, 0.4);
  padding-top: 10px;
}

.form-inline {
  font-family: Ordl;
  font-size: 30px;
}

.div1,
.div2 {
  display: inline-block;
}

.div2 {
  text-align: right;
  float: right;
  margin-right: 15px;
  margin-bottom: 25px;
}
