<h1>REVIEWS</h1>
<br>

<% @reviews.each do |review| %>

    <p><strong>Food Rating:</strong>
      <span class="rating-stars">
        <%= review.food_rating_icons %>
      </span>
    </p>
    <p><strong>Service Rating:</strong>
      <span class="rating-stars">
        <%= review.service_rating_icons %>
      </span>
    </p>
    <p><strong>Ambiance Rating:</strong>
      <span class="rating-stars">
        <%= review.ambiance_rating_icons %>
      </span>
    </p>
    <p><strong>Comment:</strong></p>
    <%= review.review_content %>
    <br>
    <br>
    <br>
<% end %>
